<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Songs and Artists</h1>

<ul>
    <li th:each="album : ${albumList}">

        <img th:src="${album.imageUrl}" alt="">

        <!--            auto calls toString on anything being turned into text-->
        <span th:text="${album}"></span>

        <a th:href="'/albums/'+${album.id}"> Album detail</a>


    </li>

    <form action="/albums" method="POST">
        <h2>Add a new album</h2>
        title : <input type="text" name="title">
        artist: <input type="text" name="artist">
        songCount: <input type="number" name="songCount">
        length: <input type="number" name="length">
        imageUrl: <input type="text" name="imageUrl">

        <input type="submit">
    </form>

</ul>
</body>
</html>


