<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Songs and Artists</h1>
<ul>
    <li th:each="album : ${albumList}" >

        <img th:src="${album.imageUrl}" alt="">

        <!--            auto calls toString on anything being turned into text-->
        <span th:text="${album}"></span>
        <!--            If you have a getter on a private property it will call the getter for you-->
<!--        <span th:text="${album.title}"></span>-->
<!--        <span th:text="${album.artist}"></span>-->
<!--        <span th:text="${album.songCount}"></span>-->
<!--        <span th:text="${album.length}"></span>-->



    </li>

</ul>
</body>
</html>


